﻿@page
@model IndexModel
@{
    ViewData["Title"] = "DASHBOARD";
}
<!-- Header -->
<header class="header-nav header-dark header-height">
    <div class="fixed-header-bar">
        <div class="container">
            <div class="navbar navbar-default navbar-expand-lg main-navbar">
                <div class="navbar-brand">
                    <a asp-page="Dashboard" title="Mombo" class="logo">
                        <img src="/img/logo-white.svg" alt="JVR Psychometrics" style="width: 40% !important;"/>
                    </a>
                </div>
                <div class="navbar-collapse justify-content-end collapse left-pull" id="navbar-collapse-toggle">
                    <ul class="nav navbar-nav m-auto">
                        <li><a class="nav-link active" asp-page="Index" style="color: white; border-bottom: 1px solid;">My Assessments</a></li>
                        <li><a class="nav-link" asp-page="Profile" style="color: white;">My Profile</a></li>
                        <li><a class="nav-link" asp-page="Login" method="post" style="color: white;">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->
<!-- Main -->
<main>
    <!-- Section -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="font-w-400 dark-color m-10px-b">Welcome, @User.Identity.Name.Replace(".", " ")</h1>
                    <p class="font-1 m-0px">You have the following assessments available to you:</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6 col-lg-4 m-15px-t m-30px-b">
                    <div class="box-shadow white-bg hover-top border-radius-10 text-center">
                        <div class="icon-90 white-bg theme-color border-radius-10 shadow d-inline-block mt-n3">
                            <i class="fab fa-behance-square"></i>
                        </div>
                        <div class="p-25px">
                            <h5 class="dark-color">Prospect Screener</h5>
                            <p class="m-0px">General Screening</p>
                            <div class="p-15px-t">
                                <a class="m-btn m-btn-theme-light m-btn-radius m-btn-sm" style="background-color: #1B947B; color: white;" href="#">Start</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 m-15px-t m-30px-b">
                    <div class="box-shadow white-bg hover-top border-radius-10 text-center">
                        <div class="icon-90 white-bg theme-color border-radius-10 shadow d-inline-block mt-n3">
                            <i class="fab fa-slack"></i>
                        </div>
                        <div class="p-25px">
                            <h5 class="dark-color">Verbatim</h5>
                            <p class="m-0px">Reasoning ability</p>
                            <div class="p-15px-t">
                                <a class="m-btn m-btn-theme-light m-btn-radius m-btn-sm" style="background-color: #1B947B; color: white;" href="#">Start</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 m-15px-t m-30px-b">
                    <div class="box-shadow white-bg hover-top border-radius-10 text-center">
                        <div class="icon-90 white-bg theme-color border-radius-10 shadow d-inline-block mt-n3">
                            <i class="fab fa-google-drive"></i>
                        </div>
                        <div class="p-25px">
                            <h5 class="dark-color">Basic Traits Inventory</h5>
                            <p class="m-0px">Personality</p>
                            <div class="p-15px-t">
                                <a class="m-btn m-btn-theme-light m-btn-radius m-btn-sm" style="background-color: #D4D4D4; color: white;" href="#">Expired</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <p>&nbsp;&nbsp;Experiencing issues? Please contact our <a asp-page="Support" style="color: black;"><b>support department</b></a>.</p>
        </div>
    </section>
    <!-- End Section -->
</main>
<!-- End Main -->