﻿@page
@model Online.Interface.Pages.LoginModel
@{
    Layout = "_Authentication";
    ViewData["Title"] = "LOGIN";
    ViewData["Image"] = "/img/bannerArtboard-1.png";
}

<!-- Home Banner -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-15px-tb">
                <h5 class="dark-color font-w-400 m-15px-b">Welcome to <b>JVR Online</b> assessment portal.</h5>
                <div id="carousel" class="carousel slide" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row align-items-center">
                                <div class="col-lg-12 m-15px-tb">
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="dark-color">Log In</h3>
                                            <p>New user? <a asp-page="Register" style="color: #1B947B;">Register for a new account</a></p>
                                            <form name="login" id="login_form" method="post">
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Email Address</label>
                                                    <input style="border: none; border-bottom: 1px solid;" class="form-control" id="input-email" type="text" name="emailaddress" required placeholder="name@example.com">
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Password</label>
                                                    <div class="input-group">
                                                        <input style="border: none; border-bottom: 1px solid;" type="password" class="form-control" id="input-password" name="password" required placeholder="********">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" style=" border: none; border-bottom: 1px solid; "><i class="far fa-eye" id="togglePassword"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="p-5px-t">
                                                    <div style="text-align: right;">
                                                        <a class="small font-w-600" href="#carousel" role="button" data-slide="next" style="color: black;">Forgot your password?</a>
                                                        <input type="submit" class="m-btn m-btn-radius m-btn-theme" style="background: #1B947B;" value="Continue" />
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-lg-12 m-15px-tb">
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="dark-color">Forgot Password</h3>
                                            <p>We can help! <a href="javascript:;" style="color: #1B947B;">Please provide your email address below:</a></p>
                                            <form name="login" id="forgot_form">
                                                @Html.AntiForgeryToken()
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Email Address</label>
                                                    <input style="border: none; border-bottom: 1px solid;" type="email" class="form-control" id="email" required placeholder="name@example.com">
                                                </div>
                                                <div class="p-5px-t">
                                                    <div style="text-align: right;">
                                                        <a href="#carousel" role="button" data-slide="prev" class="m-btn m-btn-radius">Cancel</a>
                                                        <a id="passwordReset" href="javascript:;" class="m-btn m-btn-radius m-btn-theme" style="background: #1B947B;">Continue</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-lg-12 m-15px-tb">
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="dark-color">Notification Sent</h3>
                                            <p>All set! <a hrref="javascript:;" style="color: #1B947B;">Please check your mailbox for next steps</a></p>
                                            <br />
                                            <p>
                                                An email with steps to reset your password has been sent to your mailbox if you have an account with us.
                                                Please follow the steps to reset your password and regain access to your account.
                                                If you have any further concerns please contact our support department.
                                            </p>
                                            <form data-parsley-validate="true">
                                                <div class="p-5px-t">
                                                    <div style="text-align: right;">
                                                        <a href="#carousel" role="button" data-slide="next" class="m-btn m-btn-radius m-btn-theme" style="background: #1B947B;">Continue</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p style="padding-top: 2%;">&nbsp;&nbsp;Can't log in? Please contact our <a asp-page="Support" style="color: black;"><b>support department</b></a>.</p>
            </div>
        </div>
    </div>
</section>
<!-- End Home Banner -->