﻿@page
@model Online.Interface.Pages.ProfileModel
@{
    ViewData["Title"] = "PROFILE";
}
<!-- Header -->
<header class="header-nav header-dark header-height">
    <div class="fixed-header-bar">
        <div class="container">
            <div class="navbar navbar-default navbar-expand-lg main-navbar">
                <div class="navbar-brand">
                    <a asp-page="Dashboard" title="Mombo" class="logo">
                        <img src="/img/logo-white.svg" alt="JVR Psychometrics" style="width: 40% !important;" />
                    </a>
                </div>
                <div class="navbar-collapse justify-content-end collapse left-pull" id="navbar-collapse-toggle">
                    <ul class="nav navbar-nav m-auto">
                        <li><a class="nav-link active" asp-page="Index" style="color: white;">My Assessments</a></li>
                        <li><a class="nav-link" asp-page="Profile" style="color: white;  border-bottom: 1px solid;">My Profile</a></li>
                        <li><a class="nav-link" asp-page="Login" method="post" style="color: white;">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->
<!-- Main -->
<main>
    <!-- Section -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h1 class="font-w-400 dark-color m-10px-b">My Profile</h1>
                    <p class="font-1 m-0px">Update your details here</p>
                    <br />
                    <ul class="nav flex-column m-10px-b" role="tablist" style="padding-left: 2%;">
                        <li role="presentation" class="active"><a href="#tab-01" aria-controls="tab-01" role="tab" data-toggle="tab"><h5 class="font-w-400 dark-color m-10px-b">Personal details</h5></a></li>
                        <li role="presentation"><a href="#tab-02" aria-controls="tab-02" role="tab" data-toggle="tab"><h5 class="font-w-400 dark-color m-10px-b">Contact details</h5></a></li>
                        <li role="presentation"><a href="#tab-03" aria-controls="tab-03" role="tab" data-toggle="tab"><h5 class="font-w-400 dark-color m-10px-b">Other details</h5></a></li>
                    </ul>
                    <br /><br />
                    <p>Experiencing issues? Please contact our <a asp-page="Support" style="color: black;"><b>support department</b></a>.</p>
                </div>
                <div class="col-lg-8">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab-01">
                            <div class="card">
                                <div class="card-body">
                                    <form>
                                        <div class="form-group">
                                            <label class="form-control-label small font-w-600 dark-color m-0px">First name *</label>
                                            <input style="border: none; border-bottom: 1px solid;" type="text" required class="form-control" placeholder="Sally" value="@Model.ModelProfile.FirstName"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label small font-w-600 dark-color m-0px">Surname *</label>
                                            <input style="border: none; border-bottom: 1px solid;" type="text" required class="form-control" placeholder="Sokolov" value="@Model.ModelProfile.Surname"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label small font-w-600 dark-color m-0px">Gender</label>
                                            <select id="Gender" name="Gender" class="form-control" style="border: none; border-bottom: 1px solid;">
                                                <option value="">Choose...</option>
                                                <option value="13|1328">Male</option>
                                                <option value="13|1329">Female</option>
                                                <option value="13|1330">Other</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label small font-w-600 dark-color m-0px">Birth date</label>
                                            <input id="birthDate" style="border: none; border-bottom: 1px solid;" data-inputmask="'mask': '9999-99'" type="text" class="form-control" placeholder="YYYY-MM" value="@Model.ModelProfile.BirthDate" />
                                        </div>
                                        <div class="p-5px-t">
                                            <div style="text-align: right;">
                                                <p></p>
                                                <input type="submit" class="m-btn m-btn-radius m-btn-theme" style="background: #1B947B;" value="Save" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab-02">
                            <div class="card">
                                <div class="card-body">
                                    <form id="registrationForm">
                                        <div class="form-group">
                                            <p id="emailFail" style="color: red;">
                                                The email and confirm email address input does not match.
                                            </p>
                                            <p id="passwordFail" style="color: red;">
                                                The password and confirm password field input does not match.
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label small font-w-600 dark-color m-0px">Email address *</label>
                                            <input id="emailAddress" style="border: none; border-bottom: 1px solid;" type="email" required class="form-control" placeholder="sally@sokolov.com" value="@Model.ModelProfile.Email" />
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label small font-w-600 dark-color m-0px">Confirm email address *</label>
                                            <input id="confirmEmailAddress" style="border: none; border-bottom: 1px solid;" type="email" required class="form-control" placeholder="sally@sokolov.com" value="@Model.ModelProfile.Email" />
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label small font-w-600 dark-color m-0px">Password *</label>
                                            <div class="input-group">
                                                <input id="password" style="border: none; border-bottom: 1px solid;" type="password" required class="form-control" placeholder="********" value="@Model.ModelProfile.PasswordHash" />
                                                <div class="input-group-append">
                                                    <span class="input-group-text" style=" border: none; border-bottom: 1px solid; "><i class="far fa-eye" id="togglePrPassword"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label small font-w-600 dark-color m-0px">Confirm password *</label>
                                            <div class="input-group">
                                                <input id="confirmPassword" style="border: none; border-bottom: 1px solid;" type="password" required class="form-control" placeholder="********" value="@Model.ModelProfile.PasswordHash" />
                                                <div class="input-group-append">
                                                    <span class="input-group-text" style=" border: none; border-bottom: 1px solid; "><i class="far fa-eye" id="toggleConfirmPassword"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label small font-w-600 dark-color m-0px">Mobile number *</label>
                                            <input id="mobileNumber" style="border: none; border-bottom: 1px solid;" type="text" required class="form-control" placeholder="(071) 234-5678" value="@Model.ModelProfile.PhoneNumber"/>
                                        </div>
                                        <div class="p-5px-t">
                                            <div style="text-align: right;">
                                                <p></p>
                                                <input type="submit" class="m-btn m-btn-radius m-btn-theme" style="background: #1B947B;" value="Save" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab-03">
                            <div class="card">
                                <div class="card-body">
                                    <form>
                                        <div class="form-group">
                                            <label class="form-control-label small font-w-600 dark-color m-0px">Country of origin</label>
                                            <select id="Origin" name="Country of Origin" class="form-control" style="border: none; border-bottom: 1px solid;">
                                                <option value="15|1534">South Africa</option>
                                                <option value="15|1331">Afghanistan</option>
                                                <option value="15|1332">Albania</option>
                                                <option value="15|1333">Algeria</option>
                                                <option value="15|1334">American Samoa</option>
                                                <option value="15|1335">Andorra</option>
                                                <option value="15|1336">Angola</option>
                                                <option value="15|1337">Anguilla</option>
                                                <option value="15|1338">Antarctica</option>
                                                <option value="15|1339">Antigua and Barbuda</option>
                                                <option value="15|1340">Argentina</option>
                                                <option value="15|1341">Armenia</option>
                                                <option value="15|1342">Aruba</option>
                                                <option value="15|1343">Australia</option>
                                                <option value="15|1344">Austria</option>
                                                <option value="15|1345">Azerbaijan</option>
                                                <option value="15|1346">Bahamas</option>
                                                <option value="15|1347">Bahrain</option>
                                                <option value="15|1348">Bangladesh</option>
                                                <option value="15|1349">Barbados</option>
                                                <option value="15|1350">Belarus </option>
                                                <option value="15|1351">Belgium </option>
                                                <option value="15|1352">Belize</option>
                                                <option value="15|1353">Benin</option>
                                                <option value="15|1354">Bermuda</option>
                                                <option value="15|1355">Bhutan</option>
                                                <option value="15|1356">Bolivia</option>
                                                <option value="15|1357">Bosnia and Herzegowina</option>
                                                <option value="15|1358">Botswana</option>
                                                <option value="15|1359">Bouvet Island</option>
                                                <option value="15|1360">Brazil</option>
                                                <option value="15|1361">British Indian Ocean</option>
                                                <option value="15|1362">Brunei Darussalam</option>
                                                <option value="15|1363">Bulgaria</option>
                                                <option value="15|1364">Burkina Faso </option>
                                                <option value="15|1365">Burundi</option>
                                                <option value="15|1366">Cambodia </option>
                                                <option value="15|1367">Cameroon </option>
                                                <option value="15|1368">Canada</option>
                                                <option value="15|1369">Cape Verde</option>
                                                <option value="15|1370">Cayman Islands</option>
                                                <option value="15|1371">Central African Republic</option>
                                                <option value="15|1372">Chad</option>
                                                <option value="15|1373">Chile</option>
                                                <option value="15|1374">China</option>
                                                <option value="15|1375">Christmas Island</option>
                                                <option value="15|1376">Cocos (Keeling) Islands</option>
                                                <option value="15|1377">Colombia</option>
                                                <option value="15|1378">Comoros</option>
                                                <option value="15|1379">Congo (Democratic Republic of the)</option>
                                                <option value="15|1380">Congo (Republic of the)</option>
                                                <option value="15|1381">Cook islands</option>
                                                <option value="15|1382">Costa Rica</option>
                                                <option value="15|1383">Cote dIvoire (Ivory Coast)</option>
                                                <option value="15|1384">Croatia</option>
                                                <option value="15|1385">Cuba</option>
                                                <option value="15|1386">Curaco</option>
                                                <option value="15|1387">Cyprus</option>
                                                <option value="15|1388">Cyprus (Turkish Republic of Northern)</option>
                                                <option value="15|1389">Czech Republic</option>
                                                <option value="15|1390">Denmark</option>
                                                <option value="15|1391">Djibouti </option>
                                                <option value="15|1392">Dominica</option>
                                                <option value="15|1393">Dominican Republic</option>
                                                <option value="15|1394">East Timor</option>
                                                <option value="15|1395">Ecuador</option>
                                                <option value="15|1396">Egypt</option>
                                                <option value="15|1397">El Salvador</option>
                                                <option value="15|1398">Equatorial Guinea</option>
                                                <option value="15|1399">Eritrea</option>
                                                <option value="15|1400">Estonia</option>
                                                <option value="15|1401">Ethiopia</option>
                                                <option value="15|1402">Falkland Islands</option>
                                                <option value="15|1403">Faroe Islands</option>
                                                <option value="15|1404">Fiji</option>
                                                <option value="15|1405">Finland</option>
                                                <option value="15|1406">France</option>
                                                <option value="15|1407">France, Metropolitan</option>
                                                <option value="15|1408">French Guiana </option>
                                                <option value="15|1409">French Polynesia</option>
                                                <option value="15|1410">French Southern Territories</option>
                                                <option value="15|1411">Gabon</option>
                                                <option value="15|1412">Gambia</option>
                                                <option value="15|1413">Georgia</option>
                                                <option value="15|1414">Germany </option>
                                                <option value="15|1415">Ghana</option>
                                                <option value="15|1416">Gibraltar</option>
                                                <option value="15|1417">Greece</option>
                                                <option value="15|1418">Greenland</option>
                                                <option value="15|1419">Grenada</option>
                                                <option value="15|1420">Guadeloupe</option>
                                                <option value="15|1421">Guam</option>
                                                <option value="15|1422">Guatemala</option>
                                                <option value="15|1423">Guinea</option>
                                                <option value="15|1424">Guinea-Bissau</option>
                                                <option value="15|1425">Guyana</option>
                                                <option value="15|1426">Haiti</option>
                                                <option value="15|1427">Heard and Mc Donald Islands</option>
                                                <option value="15|1428">Honduras</option>
                                                <option value="15|1429">Hong Kong</option>
                                                <option value="15|1430">Hungary</option>
                                                <option value="15|1431">Iceland</option>
                                                <option value="15|1432">India</option>
                                                <option value="15|1433">Indonesia</option>
                                                <option value="15|1434">Iran</option>
                                                <option value="15|1435">Iraq </option>
                                                <option value="15|1436">Ireland</option>
                                                <option value="15|1437">Israel</option>
                                                <option value="15|1438">Italy</option>
                                                <option value="15|1439">Jamaica</option>
                                                <option value="15|1440">Japan</option>
                                                <option value="15|1441">Jordan</option>
                                                <option value="15|1442">Kazakhstan</option>
                                                <option value="15|1443">Kenya</option>
                                                <option value="15|1444">Kiribati </option>
                                                <option value="15|1445">Korea, Republic of (south)</option>
                                                <option value="15|1446">Kosovo</option>
                                                <option value="15|1447">Kuwait</option>
                                                <option value="15|1448">Kyrgyzstan</option>
                                                <option value="15|1449">Laos (Lao Peoples Democratic Republic)</option>
                                                <option value="15|1450">Latvia</option>
                                                <option value="15|1451">Lebanon</option>
                                                <option value="15|1452">Lesotho</option>
                                                <option value="15|1453">Liberia</option>
                                                <option value="15|1454">Libyan Arab Jamahiriya</option>
                                                <option value="15|1455">Liechtenstein</option>
                                                <option value="15|1456">Lithuania</option>
                                                <option value="15|1457">Luxembourg</option>
                                                <option value="15|1458">Macau</option>
                                                <option value="15|1459">Macedonia</option>
                                                <option value="15|1460">Madagascar</option>
                                                <option value="15|1461">Malawi</option>
                                                <option value="15|1462">Malaysia</option>
                                                <option value="15|1463">Maldives</option>
                                                <option value="15|1464">Mali</option>
                                                <option value="15|1465">Malta</option>
                                                <option value="15|1466">Marshall Islands</option>
                                                <option value="15|1467">Martinique </option>
                                                <option value="15|1468">Mauritania</option>
                                                <option value="15|1469">Mauritius</option>
                                                <option value="15|1470">Mayotte</option>
                                                <option value="15|1471">Mexico</option>
                                                <option value="15|1472">Micronesia</option>
                                                <option value="15|1473">Moldova</option>
                                                <option value="15|1474">Monaco</option>
                                                <option value="15|1475">Mongolia</option>
                                                <option value="15|1476">Montenegro</option>
                                                <option value="15|1477">Montserrat</option>
                                                <option value="15|1478">Morocco</option>
                                                <option value="15|1479">Mozambique</option>
                                                <option value="15|1480">Myanmar</option>
                                                <option value="15|1481">Namibia</option>
                                                <option value="15|1482">Nauru</option>
                                                <option value="15|1483">Nepal</option>
                                                <option value="15|1484">Netherlands</option>
                                                <option value="15|1485">Netherlands Antilles</option>
                                                <option value="15|1486">New Caledonia</option>
                                                <option value="15|1487">New Zealand</option>
                                                <option value="15|1488">Nicaragua</option>
                                                <option value="15|1489">Niger</option>
                                                <option value="15|1490">Nigeria</option>
                                                <option value="15|1491">Niue</option>
                                                <option value="15|1492">Norfolk Island</option>
                                                <option value="15|1493">Northern Mariana Islands</option>
                                                <option value="15|1494">Norway</option>
                                                <option value="15|1495">Oman</option>
                                                <option value="15|1496">Pakistan</option>
                                                <option value="15|1497">Palau</option>
                                                <option value="15|1498">Palestine</option>
                                                <option value="15|1499">Panama</option>
                                                <option value="15|1500">Papua New Guinea</option>
                                                <option value="15|1501">Paraguay </option>
                                                <option value="15|1502">Peru</option>
                                                <option value="15|1503">Philippines</option>
                                                <option value="15|1504">Pitcairn</option>
                                                <option value="15|1505">Poland</option>
                                                <option value="15|1506">Portugal</option>
                                                <option value="15|1507">Puerto Rico</option>
                                                <option value="15|1508">Qatar</option>
                                                <option value="15|1509">Reunion</option>
                                                <option value="15|1510">Romania</option>
                                                <option value="15|1511">Russian Federation</option>
                                                <option value="15|1512">Rwanda</option>
                                                <option value="15|1513">Saint Helena (UK)</option>
                                                <option value="15|1514">Saint Kitts and Nevis</option>
                                                <option value="15|1515">Saint Lucia</option>
                                                <option value="15|1516">Saint Maarten</option>
                                                <option value="15|1517">Saint Pierre and Miquelon (FR)</option>
                                                <option value="15|1518">Saint Thomas</option>
                                                <option value="15|1519">Saint Vincent and the Grenadines</option>
                                                <option value="15|1520">Samoa</option>
                                                <option value="15|1521">San Marino</option>
                                                <option value="15|1522">Sao Tome and Principe</option>
                                                <option value="15|1523">Saudi Arabia</option>
                                                <option value="15|1524">Senegal</option>
                                                <option value="15|1525">Serbia</option>
                                                <option value="15|1526">Serbia + Montenegro (old)</option>
                                                <option value="15|1527">Seychelles</option>
                                                <option value="15|1528">Sierra Leone</option>
                                                <option value="15|1529">Singapore</option>
                                                <option value="15|1530">Slovakia</option>
                                                <option value="15|1531">Slovenia</option>
                                                <option value="15|1532">Solomon Islands</option>
                                                <option value="15|1533">Somalia</option>
                                                <option value="15|1535">South Georgia and the South Sandwich Islands</option>
                                                <option value="15|1536">Spain</option>
                                                <option value="15|1537">Sri Lanka</option>
                                                <option value="15|1538">Sudan</option>
                                                <option value="15|1539">Suriname</option>
                                                <option value="15|1540">Svalbard and Jan Mayen Islands</option>
                                                <option value="15|1541">Swaziland</option>
                                                <option value="15|1542">Sweden</option>
                                                <option value="15|1543">Switzerland</option>
                                                <option value="15|1544">Syrian Arab Republic</option>
                                                <option value="15|1545">Taiwan</option>
                                                <option value="15|1546">Tajikistan</option>
                                                <option value="15|1547">Tanzania</option>
                                                <option value="15|1548">Thailand</option>
                                                <option value="15|1549">Timor-Leste</option>
                                                <option value="15|1550">Togo</option>
                                                <option value="15|1551">Tokelau</option>
                                                <option value="15|1552">Tonga</option>
                                                <option value="15|1553">Trinidad and Tobago</option>
                                                <option value="15|1554">Tunisia</option>
                                                <option value="15|1555">Turkey</option>
                                                <option value="15|1556">Turkmenistan</option>
                                                <option value="15|1557">Turks and Caicos Islands</option>
                                                <option value="15|1558">Tuvalu</option>
                                                <option value="15|1559">Uganda</option>
                                                <option value="15|1560">Ukraine</option>
                                                <option value="15|1561">United Arab Emirates</option>
                                                <option value="15|1562">United Kingdom</option>
                                                <option value="15|1563">United States of America</option>
                                                <option value="15|1564">Uruguay</option>
                                                <option value="15|1565">Uzbekistan</option>
                                                <option value="15|1566">Vanuatu</option>
                                                <option value="15|1567">Vatican City State</option>
                                                <option value="15|1568">Venezuela</option>
                                                <option value="15|1569">Vietnam</option>
                                                <option value="15|1570">Virgin Islands (British)</option>
                                                <option value="15|1571">Virgin Islands (U.S.)</option>
                                                <option value="15|1572">Wallis and Futuna Islands</option>
                                                <option value="15|1573">Western Sahara</option>
                                                <option value="15|1574">Yemen</option>
                                                <option value="15|1575">Zaire</option>
                                                <option value="15|1576">Zambia</option>
                                                <option value="15|1577">Zimbabwe</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label small font-w-600 dark-color m-0px">Home language</label>
                                            <select id="Language" name="Home Language" class="form-control" style="border: none; border-bottom: 1px solid;">
                                                <option value="20|1847">Afrikaans</option>
                                                <option value="20|1848">English</option>
                                                <option value="20|1849">Ndebele</option>
                                                <option value="20|1850">Pedi</option>
                                                <option value="20|1851">Sotho</option>
                                                <option value="20|1852">Swazi</option>
                                                <option value="20|1853">Tsonga</option>
                                                <option value="20|1854">Tswana</option>
                                                <option value="20|1855">Venda</option>
                                                <option value="20|1856">Xhosa</option>
                                                <option value="20|1857">Zulu</option>
                                                <option value="20|1858">Cantonese (Chinese)</option>
                                                <option value="20|1859">Danish</option>
                                                <option value="20|1860">Dutch</option>
                                                <option value="20|1861">Finnish</option>
                                                <option value="20|1862">French</option>
                                                <option value="20|1863">German</option>
                                                <option value="20|1864">Hindi </option>
                                                <option value="20|1865">Italian</option>
                                                <option value="20|1866">Japanese</option>
                                                <option value="20|1867">Korean</option>
                                                <option value="20|1868">Mandarin - Simplified (Simplified Chinese)</option>
                                                <option value="20|1869">Norwegian</option>
                                                <option value="20|1870">Portuguese</option>
                                                <option value="20|1871">Russian</option>
                                                <option value="20|1872">Spanish - North American</option>
                                                <option value="20|1873">Spanish - Castilian</option>
                                                <option value="20|1874">Swedish </option>
                                                <option value="20|1875">Other</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label small font-w-600 dark-color m-0px">Ethnic origin</label>
                                            <select id="Ethnic" name="Ethnic Origin" class="form-control" style="border: none; border-bottom: 1px solid;">
                                                <option value="">Choose...</option>
                                                <option value="19|1836">American Indian or Alaskan Native (Origins of North America)</option>
                                                <option value="19|1837">Asian (Origins of Asia or Southeast Asia)</option>
                                                <option value="19|1838">Black/African American (Origins of Africa)</option>
                                                <option value="19|1839">Coloured (mixed origins or culture of South African Cape Malay)/Mixed ethnic origin</option>
                                                <option value="19|1840">Indian (Origins of Indian subcontinent)</option>
                                                <option value="19|1841">Latino, Latina/Hispanic (Origins of Central of South America or culture of Spanish origin)</option>
                                                <option value="19|1842">Middle Easterner (Origins of Middle East or North Africa)</option>
                                                <option value="19|1843">Native Hawaiian or other Pacific Islander</option>
                                                <option value="19|1844">White/Caucasian (Origins of Europe)</option>
                                                <option value="19|1845">Other</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label small font-w-600 dark-color m-0px">Education level</label>
                                            <select id="Qualification" name="Highest Qualification" class="form-control" style="border: none; border-bottom: 1px solid;">
                                                <option value="">Choose...</option>
                                                <option value="1|1107">Lower than Grade 10/Standard 8</option>
                                                <option value="1|1108">Grade 10/Standard 8</option>
                                                <option value="1|1109">Grade 11/Standard 9</option>
                                                <option value="1|1110">Grade 12/Standard 10</option>
                                                <option value="1|1111">Some university</option>
                                                <option value="1|1112">Diploma or certificate </option>
                                                <option value="1|1113">Bachelor’s degree</option>
                                                <option value="1|1114">Honour’s degree</option>
                                                <option value="1|1115">Master’s degree</option>
                                                <option value="1|1116">Doctorate (e.g., PhD, DPhil)</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label small font-w-600 dark-color m-0px">Employment status</label>
                                            <select id="Employment" name="Employment status" class="form-control" style="border: none; border-bottom: 1px solid;">
                                                <option value="">Choose...</option>
                                                <option value="5|1130">Working full time</option>
                                                <option value="5|1131">Working part time</option>
                                                <option value="5|1132">Working on contract</option>
                                                <option value="5|1133">Unemployed</option>
                                                <option value="5|1134">Retired</option>
                                                <option value="5|1135">Other</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label small font-w-600 dark-color m-0px">Industry</label>
                                            <select id="Industry" name="Industry" class="form-control" style="border: none; border-bottom: 1px solid;">
                                                <option value="">Choose...</option>
                                                <option value="7|1141">Architecture and engineering </option>
                                                <option value="7|1142">Arts and design</option>
                                                <option value="7|1143">Building, grounds cleaning and maintenance </option>
                                                <option value="7|1144">Business and finance &nbsp;</option>
                                                <option value="7|1145">Community and social services </option>
                                                <option value="7|1146">Computer and mathematics </option>
                                                <option value="7|1147">Construction</option>
                                                <option value="7|1148">Education and training </option>
                                                <option value="7|1149">Extraction and mining</option>
                                                <option value="7|1150">Farming, fishing, and forestry </option>
                                                <option value="7|1151">Film and entertainment </option>
                                                <option value="7|1152">Food preparation and food service </option>
                                                <option value="7|1153">Healthcare assistants/technicians </option>
                                                <option value="7|1154">Healthcare professional</option>
                                                <option value="7|1155">Information management</option>
                                                <option value="7|1156">Installation, maintenance, and repair</option>
                                                <option value="7|1157">Legal </option>
                                                <option value="7|1158">Life, physical and social sciences </option>
                                                <option value="7|1159">Media and communications</option>
                                                <option value="7|1160">Military specific occupations </option>
                                                <option value="7|1161">Office and administrative support </option>
                                                <option value="7|1162">Personal care and personal service </option>
                                                <option value="7|1163">Production and manufacturing</option>
                                                <option value="7|1164">Protective services </option>
                                                <option value="7|1165">Sales and related occupations </option>
                                                <option value="7|1166">Sports </option>
                                                <option value="7|1167">Transportation and materials moving </option>
                                                <option value="7|1168">Travel and tourism</option>
                                                <option value="7|1169">Other</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label small font-w-600 dark-color m-0px">Current level of work</label>
                                            <select id="position" name="Level of current position" class="form-control" style="border: none; border-bottom: 1px solid;">
                                                <option value="">Choose...</option>
                                                <option value="9|1318">Business Owner</option>
                                                <option value="9|1319">Executive</option>
                                                <option value="9|1320">Manager</option>
                                                <option value="9|1321">Supervisor</option>
                                                <option value="9|1322">Employee</option>
                                            </select>
                                        </div>
                                        <p>Are you willing to receive email invitations from our research department to complete free research assessments?</p>

                                        @if (Model.ModelProfile.Research == "True")
                                        {
                                            <div class="form-check">
                                                <input id="yesCheck" class="form-check-input" type="checkbox" value="" checked>
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input id="noCheck" class="form-check-input" type="checkbox" value="">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    No
                                                </label>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-check">
                                                <input id="yesCheck" class="form-check-input" type="checkbox" value="">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input id="noCheck" class="form-check-input" type="checkbox" value="" checked>
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    No
                                                </label>
                                            </div>
                                        }
                                        <div class="p-5px-t">
                                            <div style="text-align: right;">
                                                <p></p>
                                                <a href="javascript:;" class="m-btn m-btn-radius m-btn-theme" style="background: #1B947B;">Save</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->
</main>
<!-- End Main -->
@section script{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#emailFail').fadeOut('fast');
            $('#passwordFail').fadeOut('fast');
            $("#Gender").val('@Model.ModelProfile.Gender').change();

            $("#Origin").val('@Model.ModelProfile.Country').change();
            $("#Language").val('@Model.ModelProfile.Language').change();
            $("#Ethnic").val('@Model.ModelProfile.EthnicOrigin').change();
            $("#Qualification").val('@Model.ModelProfile.Qualification').change();
            $("#Employment").val('@Model.ModelProfile.Employment').change();
            $("#Industry").val('@Model.ModelProfile.Industry').change();
            $("#position").val('@Model.ModelProfile.Position').change();
        });
    </script>
}