﻿@page
@model Online.Interface.Pages.RegisterModel

@{
    Layout = "_Authentication";
    ViewData["Title"] = "REGISTRATION";
    ViewData["Image"] = "/img/bannerArtboard-6.png";
}
<!-- Home Banner -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-15px-tb">
                <div id="carousel" class="carousel slide" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row align-items-center">
                                <div class="col-lg-12 m-15px-tb">
                                    <h5 class="dark-color font-w-400 m-15px-b">Please <b>register</b> to access JVR Online assessment portal.</h5>
                                    <div class="card">
                                        <div class="card-body">
                                            <a asp-page="Login" style="color: black;"><span style="color: #1B947B;">&#8592;</span> Go back</a>
                                            <br /><br />
                                            <h3 class="dark-color">Terms of use</h3>
                                            <b>Purpose of the JVR Online Assessment Portal</b>
                                            <p>
                                                The JVR Online assessment portal provides appropriately qualified professionals with an online assessment service and it also provides test takers with a secure, professional and user friendly way of completing assessments electronically.
                                            </p>
                                            <b>Privacy & Security</b>
                                            <ol>
                                                <li>In accordance with relevant legislation and best practice principles, all personal information (biographical information and assessment responses) will be kept confidential and secure.</li>
                                                <li>Please note that personal information gathered during the assessment process will not be used for any marketing purposes and will not be made available to any 3rd party under any circumstances other than with your written consent.</li>
                                                <li>The username and password details, created by yourself during the registration process, will be sent to the email address provided.</li>
                                            </ol>

                                            <b>Informed Consent</b>
                                            <p>I acknowledge and accept the following:</p>
                                            <ol>
                                                <li>Completing the assessment(s) is voluntary and should you have any objections you may withdraw at any point in the assessment process.</li>
                                                <li>You understand the reason for completing the assessment(s). If you do not understand the purpose, please contact the requesting party.</li>
                                                <li>On completion, the results will be submitted to the requesting party (who is appropriately qualified) in a report format.</li>
                                                <li>This report will not be made available to any other party without your written consent.</li>
                                                <li>All de-personalised information submitted (i.e. no identifying biographical information), within the parameters of confidentiality, can be used and stored indefinitely for research and statistical purposes by JVR Psychometrics.</li>
                                            </ol>
                                            <b>If you understand and agree to the above terms of use of this website, please accept the disclaimer below.</b>
                                            <br />
                                            <form>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        I accept
                                                    </label>
                                                </div>
                                                <br />
                                                <p>If you're not prepared to accept the Terms and Conditions, please contact your administrator or <b>read JVR Africa Group's Terms and Conditions</b>.</p>
                                                <div class="p-5px-t">
                                                    <div class="d-flex justify-content-between" style="text-align: right;">
                                                        <p></p>
                                                        <a id="regContinue" onclick="topFunction()" href="#carousel" data-slide="next" class="m-btn m-btn-radius m-btn-theme disabled" style="background: #1B947B;">Continue</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-lg-12 m-15px-tb">
                                    <h5 class="dark-color font-w-400 m-15px-b">Please <b>fill in your details</b> to access your assessments.</h5>
                                    <div class="card">
                                        <div class="card-body">
                                            <a href="#carousel" data-slide="prev" style="color: black;"><span style="color: #1B947B;">&#8592;</span> Go back</a>
                                            <br /><br />
                                            <h3 class="dark-color">Register</h3>
                                            <p>Step 1 of 3: Required</p>
                                            <form id="registrationForm">
                                                @Html.AntiForgeryToken()
                                                <div class="form-group">
                                                    <p id="emailFail" style="color: red;">
                                                        The email and confirm email address input does not match.
                                                    </p>
                                                    <p id="passwordFail" style="color: red;">
                                                        The password and confirm password field input does not match.
                                                    </p>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">First name *</label>
                                                    <input id="firstName" style="border: none; border-bottom: 1px solid;" type="text" required class="form-control" placeholder="Sally" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Surname *</label>
                                                    <input id="surname" style="border: none; border-bottom: 1px solid;" type="text" required class="form-control" placeholder="Sokolov" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Email address *</label>
                                                    <input id="emailAddress" style="border: none; border-bottom: 1px solid;" type="email" required class="form-control" placeholder="sally@sokolov.com" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Confirm email address *</label>
                                                    <input id="confirmEmailAddress" style="border: none; border-bottom: 1px solid;" type="email" required class="form-control" placeholder="sally@sokolov.com" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Password *</label>
                                                    <div class="input-group">
                                                        <input id="password" style="border: none; border-bottom: 1px solid;" type="password" required class="form-control" placeholder="********" />
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" style=" border: none; border-bottom: 1px solid; "><i class="far fa-eye" id="toggleRePassword"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Confirm password *</label>
                                                    <div class="input-group">
                                                        <input id="confirmPassword" style="border: none; border-bottom: 1px solid;" type="password" required class="form-control" placeholder="********" />
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" style=" border: none; border-bottom: 1px solid; "><i class="far fa-eye" id="toggleConfirmPassword"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Mobile number *</label>
                                                    <input id="mobileNumber" style="border: none; border-bottom: 1px solid;" type="text" required class="form-control" placeholder="(071) 234-5678" />
                                                </div>
                                                <div class="p-5px-t">
                                                    <div style="text-align: right;">
                                                        <p></p>
                                                        <a asp-page="Login" style="color: black;">Cancel&nbsp;&nbsp;</a>
                                                        <input type="submit" class="m-btn m-btn-radius m-btn-theme" style="background: #1B947B;" value="Continue"/>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-lg-12 m-15px-tb">
                                    <h5 class="dark-color font-w-400 m-15px-b">
                                        This section is <b>optional</b>.
                                    </h5>
                                    <h6>
                                        Please help us to ensure the continued quality
                                        of our assessments by filling in the information below for research purposes.
                                    </h6>
                                    <div class="card">
                                        <div class="card-body">
                                            <a href="#carousel" data-slide="prev" style="color: black;"><span style="color: #1B947B;">&#8592;</span> Go back</a>
                                            <br />
                                            <h3 class="dark-color">Biographical information</h3>
                                            <p>Step 2 of 3: optional</p>
                                            <form>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Gender</label>
                                                    <select id="gender" name="Gender" class="form-control" style="border: none; border-bottom: 1px solid;">
                                                        <option value="">Choose...</option>
                                                        <option value="13|1328">Male</option>
                                                        <option value="13|1329">Female</option>
                                                        <option value="13|1330">Other</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Birth date</label>
                                                    <input id="birthDate" style="border: none; border-bottom: 1px solid;" data-inputmask="'mask': '9999-99'" type="text" class="form-control" placeholder="1989-02" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Country of origin</label>
                                                    <select id="country" name="Country of Origin" class="form-control" style="border: none; border-bottom: 1px solid;">
                                                        <option value="15|1534">South Africa</option><option value="15|1331">Afghanistan</option><option value="15|1332">Albania</option><option value="15|1333">Algeria</option><option value="15|1334">American Samoa</option><option value="15|1335">Andorra</option><option value="15|1336">Angola</option><option value="15|1337">Anguilla</option><option value="15|1338">Antarctica</option><option value="15|1339">Antigua and Barbuda</option><option value="15|1340">Argentina</option><option value="15|1341">Armenia</option><option value="15|1342">Aruba</option><option value="15|1343">Australia</option><option value="15|1344">Austria</option><option value="15|1345">Azerbaijan</option><option value="15|1346">Bahamas</option><option value="15|1347">Bahrain</option><option value="15|1348">Bangladesh</option><option value="15|1349">Barbados</option><option value="15|1350">Belarus </option><option value="15|1351">Belgium </option><option value="15|1352">Belize</option><option value="15|1353">Benin</option><option value="15|1354">Bermuda</option><option value="15|1355">Bhutan</option><option value="15|1356">Bolivia</option><option value="15|1357">Bosnia and Herzegowina</option><option value="15|1358">Botswana</option><option value="15|1359">Bouvet Island</option><option value="15|1360">Brazil</option><option value="15|1361">British Indian Ocean</option><option value="15|1362">Brunei Darussalam</option><option value="15|1363">Bulgaria</option><option value="15|1364">Burkina Faso </option><option value="15|1365">Burundi</option><option value="15|1366">Cambodia </option><option value="15|1367">Cameroon </option><option value="15|1368">Canada</option><option value="15|1369">Cape Verde</option><option value="15|1370">Cayman Islands</option><option value="15|1371">Central African Republic</option><option value="15|1372">Chad</option><option value="15|1373">Chile</option><option value="15|1374">China</option><option value="15|1375">Christmas Island</option><option value="15|1376">Cocos (Keeling) Islands</option><option value="15|1377">Colombia</option><option value="15|1378">Comoros</option><option value="15|1379">Congo (Democratic Republic of the)</option><option value="15|1380">Congo (Republic of the)</option><option value="15|1381">Cook islands</option><option value="15|1382">Costa Rica</option><option value="15|1383">Cote dIvoire (Ivory Coast)</option><option value="15|1384">Croatia</option><option value="15|1385">Cuba</option><option value="15|1386">Curaco</option><option value="15|1387">Cyprus</option><option value="15|1388">Cyprus (Turkish Republic of Northern)</option><option value="15|1389">Czech Republic</option><option value="15|1390">Denmark</option><option value="15|1391">Djibouti </option><option value="15|1392">Dominica</option><option value="15|1393">Dominican Republic</option><option value="15|1394">East Timor</option><option value="15|1395">Ecuador</option><option value="15|1396">Egypt</option><option value="15|1397">El Salvador</option><option value="15|1398">Equatorial Guinea</option><option value="15|1399">Eritrea</option><option value="15|1400">Estonia</option><option value="15|1401">Ethiopia</option><option value="15|1402">Falkland Islands</option><option value="15|1403">Faroe Islands</option><option value="15|1404">Fiji</option><option value="15|1405">Finland</option><option value="15|1406">France</option><option value="15|1407">France, Metropolitan</option><option value="15|1408">French Guiana </option><option value="15|1409">French Polynesia</option><option value="15|1410">French Southern Territories</option><option value="15|1411">Gabon</option><option value="15|1412">Gambia</option><option value="15|1413">Georgia</option><option value="15|1414">Germany </option><option value="15|1415">Ghana</option><option value="15|1416">Gibraltar</option><option value="15|1417">Greece</option><option value="15|1418">Greenland</option><option value="15|1419">Grenada</option><option value="15|1420">Guadeloupe</option><option value="15|1421">Guam</option><option value="15|1422">Guatemala</option><option value="15|1423">Guinea</option><option value="15|1424">Guinea-Bissau</option><option value="15|1425">Guyana</option><option value="15|1426">Haiti</option><option value="15|1427">Heard and Mc Donald Islands</option><option value="15|1428">Honduras</option><option value="15|1429">Hong Kong</option><option value="15|1430">Hungary</option><option value="15|1431">Iceland</option><option value="15|1432">India</option><option value="15|1433">Indonesia</option><option value="15|1434">Iran</option><option value="15|1435">Iraq </option><option value="15|1436">Ireland</option><option value="15|1437">Israel</option><option value="15|1438">Italy</option><option value="15|1439">Jamaica</option><option value="15|1440">Japan</option><option value="15|1441">Jordan</option><option value="15|1442">Kazakhstan</option><option value="15|1443">Kenya</option><option value="15|1444">Kiribati </option><option value="15|1445">Korea, Republic of (south)</option><option value="15|1446">Kosovo</option><option value="15|1447">Kuwait</option><option value="15|1448">Kyrgyzstan</option><option value="15|1449">Laos (Lao Peoples Democratic Republic)</option><option value="15|1450">Latvia</option><option value="15|1451">Lebanon</option><option value="15|1452">Lesotho</option><option value="15|1453">Liberia</option><option value="15|1454">Libyan Arab Jamahiriya</option><option value="15|1455">Liechtenstein</option><option value="15|1456">Lithuania</option><option value="15|1457">Luxembourg</option><option value="15|1458">Macau</option><option value="15|1459">Macedonia</option><option value="15|1460">Madagascar</option><option value="15|1461">Malawi</option><option value="15|1462">Malaysia</option><option value="15|1463">Maldives</option><option value="15|1464">Mali</option><option value="15|1465">Malta</option><option value="15|1466">Marshall Islands</option><option value="15|1467">Martinique </option><option value="15|1468">Mauritania</option><option value="15|1469">Mauritius</option><option value="15|1470">Mayotte</option><option value="15|1471">Mexico</option><option value="15|1472">Micronesia</option><option value="15|1473">Moldova</option><option value="15|1474">Monaco</option><option value="15|1475">Mongolia</option><option value="15|1476">Montenegro</option><option value="15|1477">Montserrat</option><option value="15|1478">Morocco</option><option value="15|1479">Mozambique</option><option value="15|1480">Myanmar</option><option value="15|1481">Namibia</option><option value="15|1482">Nauru</option><option value="15|1483">Nepal</option><option value="15|1484">Netherlands</option><option value="15|1485">Netherlands Antilles</option><option value="15|1486">New Caledonia</option><option value="15|1487">New Zealand</option><option value="15|1488">Nicaragua</option><option value="15|1489">Niger</option><option value="15|1490">Nigeria</option><option value="15|1491">Niue</option><option value="15|1492">Norfolk Island</option><option value="15|1493">Northern Mariana Islands</option><option value="15|1494">Norway</option><option value="15|1495">Oman</option><option value="15|1496">Pakistan</option><option value="15|1497">Palau</option><option value="15|1498">Palestine</option><option value="15|1499">Panama</option><option value="15|1500">Papua New Guinea</option><option value="15|1501">Paraguay </option><option value="15|1502">Peru</option><option value="15|1503">Philippines</option><option value="15|1504">Pitcairn</option><option value="15|1505">Poland</option><option value="15|1506">Portugal</option><option value="15|1507">Puerto Rico</option><option value="15|1508">Qatar</option><option value="15|1509">Reunion</option><option value="15|1510">Romania</option><option value="15|1511">Russian Federation</option><option value="15|1512">Rwanda</option><option value="15|1513">Saint Helena (UK)</option><option value="15|1514">Saint Kitts and Nevis</option><option value="15|1515">Saint Lucia</option><option value="15|1516">Saint Maarten</option><option value="15|1517">Saint Pierre and Miquelon (FR)</option><option value="15|1518">Saint Thomas</option><option value="15|1519">Saint Vincent and the Grenadines</option><option value="15|1520">Samoa</option><option value="15|1521">San Marino</option><option value="15|1522">Sao Tome and Principe</option><option value="15|1523">Saudi Arabia</option><option value="15|1524">Senegal</option><option value="15|1525">Serbia</option><option value="15|1526">Serbia + Montenegro (old)</option><option value="15|1527">Seychelles</option><option value="15|1528">Sierra Leone</option><option value="15|1529">Singapore</option><option value="15|1530">Slovakia</option><option value="15|1531">Slovenia</option><option value="15|1532">Solomon Islands</option><option value="15|1533">Somalia</option><option value="15|1535">South Georgia and the South Sandwich Islands</option><option value="15|1536">Spain</option><option value="15|1537">Sri Lanka</option><option value="15|1538">Sudan</option><option value="15|1539">Suriname</option><option value="15|1540">Svalbard and Jan Mayen Islands</option><option value="15|1541">Swaziland</option><option value="15|1542">Sweden</option><option value="15|1543">Switzerland</option><option value="15|1544">Syrian Arab Republic</option><option value="15|1545">Taiwan</option><option value="15|1546">Tajikistan</option><option value="15|1547">Tanzania</option><option value="15|1548">Thailand</option><option value="15|1549">Timor-Leste</option><option value="15|1550">Togo</option><option value="15|1551">Tokelau</option><option value="15|1552">Tonga</option><option value="15|1553">Trinidad and Tobago</option><option value="15|1554">Tunisia</option><option value="15|1555">Turkey</option><option value="15|1556">Turkmenistan</option><option value="15|1557">Turks and Caicos Islands</option><option value="15|1558">Tuvalu</option><option value="15|1559">Uganda</option><option value="15|1560">Ukraine</option><option value="15|1561">United Arab Emirates</option><option value="15|1562">United Kingdom</option><option value="15|1563">United States of America</option><option value="15|1564">Uruguay</option><option value="15|1565">Uzbekistan</option><option value="15|1566">Vanuatu</option><option value="15|1567">Vatican City State</option><option value="15|1568">Venezuela</option><option value="15|1569">Vietnam</option><option value="15|1570">Virgin Islands (British)</option><option value="15|1571">Virgin Islands (U.S.)</option><option value="15|1572">Wallis and Futuna Islands</option><option value="15|1573">Western Sahara</option><option value="15|1574">Yemen</option><option value="15|1575">Zaire</option><option value="15|1576">Zambia</option><option value="15|1577">Zimbabwe</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Home language</label>
                                                    <select id="language" name="Home Language" class="form-control" style="border: none; border-bottom: 1px solid;">
                                                        <option value="20|1847">Afrikaans</option>
                                                        <option value="20|1848">English</option>
                                                        <option value="20|1849">Ndebele</option>
                                                        <option value="20|1850">Pedi</option>
                                                        <option value="20|1851">Sotho</option>
                                                        <option value="20|1852">Swazi</option>
                                                        <option value="20|1853">Tsonga</option>
                                                        <option value="20|1854">Tswana</option>
                                                        <option value="20|1855">Venda</option>
                                                        <option value="20|1856">Xhosa</option>
                                                        <option value="20|1857">Zulu</option>
                                                        <option value="20|1858">Cantonese (Chinese)</option>
                                                        <option value="20|1859">Danish</option>
                                                        <option value="20|1860">Dutch</option>
                                                        <option value="20|1861">Finnish</option>
                                                        <option value="20|1862">French</option>
                                                        <option value="20|1863">German</option>
                                                        <option value="20|1864">Hindi </option>
                                                        <option value="20|1865">Italian</option>
                                                        <option value="20|1866">Japanese</option>
                                                        <option value="20|1867">Korean</option>
                                                        <option value="20|1868">Mandarin - Simplified (Simplified Chinese)</option>
                                                        <option value="20|1869">Norwegian</option>
                                                        <option value="20|1870">Portuguese</option>
                                                        <option value="20|1871">Russian</option>
                                                        <option value="20|1872">Spanish - North American</option>
                                                        <option value="20|1873">Spanish - Castilian</option>
                                                        <option value="20|1874">Swedish </option>
                                                        <option value="20|1875">Other</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Ethnic origin</label>
                                                    <select id="ethnicOrigin" name="Ethnic Origin" class="form-control" style="border: none; border-bottom: 1px solid;">
                                                        <option value="">Choose...</option><option value="19|1836">American Indian or Alaskan Native (Origins of North America)</option><option value="19|1837">Asian (Origins of Asia or Southeast Asia)</option><option value="19|1838">Black/African American (Origins of Africa)</option><option value="19|1839">Coloured (mixed origins or culture of South African Cape Malay)/Mixed ethnic origin</option><option value="19|1840">Indian (Origins of Indian subcontinent)</option><option value="19|1841">Latino, Latina/Hispanic (Origins of Central of South America or culture of Spanish origin)</option><option value="19|1842">Middle Easterner (Origins of Middle East or North Africa)</option><option value="19|1843">Native Hawaiian or other Pacific Islander</option><option value="19|1844">White/Caucasian (Origins of Europe)</option><option value="19|1845">Other</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Education level</label>
                                                    <select id="qualification" name="Highest Qualification" class="form-control" style="border: none; border-bottom: 1px solid;">
                                                        <option value="">Choose...</option><option value="1|1107">Lower than Grade 10/Standard 8</option><option value="1|1108">Grade 10/Standard 8</option><option value="1|1109">Grade 11/Standard 9</option><option value="1|1110">Grade 12/Standard 10</option><option value="1|1111">Some university</option><option value="1|1112">Diploma or certificate </option><option value="1|1113">Bachelor’s degree</option><option value="1|1114">Honour’s degree</option><option value="1|1115">Master’s degree</option><option value="1|1116">Doctorate (e.g., PhD, DPhil)</option>
                                                    </select>
                                                </div>
                                                <div class="p-5px-t">
                                                    <div style="text-align: right;">
                                                        <p></p>
                                                        <a asp-page="Login" style="color: black;">Cancel&nbsp;&nbsp;</a>
                                                        <a href="#carousel" onclick="topFunction()" data-slide="next" style="color: black;">Skip&nbsp;&nbsp;</a>
                                                        <a href="#carousel" onclick="topFunction()" data-slide="next" class="m-btn m-btn-radius m-btn-theme" style="background: #1B947B;">Continue</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-lg-12 m-15px-tb">
                                    <h5 class="dark-color font-w-400 m-15px-b">
                                        This section is <b>optional</b>.
                                    </h5>
                                    <h6>
                                        Please help us to ensure the continued quality
                                        of our assessments by filling in the information below for research purposes.
                                    </h6>
                                    <div class="card">
                                        <div class="card-body">
                                            <a href="#carousel" data-slide="prev" style="color: black;"><span style="color: #1B947B;">&#8592;</span> Go back</a>
                                            <br />
                                            <h3 class="dark-color">Occupational information</h3>
                                            <p>Step 3 of 3: optional</p>
                                            <form>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Employment status</label>
                                                    <select id="employment" name="Employment status" class="form-control" style="border: none; border-bottom: 1px solid;">
                                                        <option value="">Choose...</option><option value="5|1130">Working full time</option><option value="5|1131">Working part time</option><option value="5|1132">Working on contract</option><option value="5|1133">Unemployed</option><option value="5|1134">Retired</option><option value="5|1135">Other</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Industry</label>
                                                    <select id="industry" name="Industry" class="form-control" style="border: none; border-bottom: 1px solid;">
                                                        <option value="">Choose...</option><option value="7|1141">Architecture and engineering </option><option value="7|1142">Arts and design</option><option value="7|1143">Building, grounds cleaning and maintenance </option><option value="7|1144">Business and finance &nbsp;</option><option value="7|1145">Community and social services </option><option value="7|1146">Computer and mathematics </option><option value="7|1147">Construction</option><option value="7|1148">Education and training </option><option value="7|1149">Extraction and mining</option><option value="7|1150">Farming, fishing, and forestry </option><option value="7|1151">Film and entertainment </option><option value="7|1152">Food preparation and food service </option><option value="7|1153">Healthcare assistants/technicians </option><option value="7|1154">Healthcare professional</option><option value="7|1155">Information management</option><option value="7|1156">Installation, maintenance, and repair</option><option value="7|1157">Legal </option><option value="7|1158">Life, physical and social sciences </option><option value="7|1159">Media and communications</option><option value="7|1160">Military specific occupations </option><option value="7|1161">Office and administrative support </option><option value="7|1162">Personal care and personal service </option><option value="7|1163">Production and manufacturing</option><option value="7|1164">Protective services </option><option value="7|1165">Sales and related occupations </option><option value="7|1166">Sports </option><option value="7|1167">Transportation and materials moving </option><option value="7|1168">Travel and tourism</option><option value="7|1169">Other</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Current level of work</label>
                                                    <select id="position" name="Level of current position" class="form-control" style="border: none; border-bottom: 1px solid;">
                                                        <option value="">Choose...</option><option value="9|1318">Business Owner</option><option value="9|1319">Executive</option><option value="9|1320">Manager</option><option value="9|1321">Supervisor</option><option value="9|1322">Employee</option>
                                                    </select>
                                                </div>
                                                <p>Are you willing to receive email invitations from our research department to complete free research assessments?</p>

                                                <div class="form-check">
                                                    <input id="yesCheck" class="form-check-input" type="checkbox" value="">
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input id="noCheck" class="form-check-input" type="checkbox" value="">
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        No
                                                    </label>
                                                </div>
                                                <div class="p-5px-t">
                                                    <div style="text-align: right;">
                                                        <p></p>
                                                        <a asp-page="Login" style="color: black;">Cancel&nbsp;&nbsp;</a>
                                                        <a id="complete" href="#carousel" onclick="topFunction()" data-slide="next" class="m-btn m-btn-radius m-btn-theme" style="background: #1B947B;">Finish</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-lg-12 m-15px-tb">
                                    <h5 class="dark-color font-w-400 m-15px-b">
                                        Your <b>registration</b> request is currently being processed.
                                    </h5>
                                    <h6>
                                        You will be directed to your dashboard shortly and will receive
                                        a welcome message to verify your details
                                    </h6>
                                    <div class="card" style="border: none !important;">
                                        <div class="card-body">
                                            <div class="loader">Loading...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p style="padding-top: 2%;">&nbsp;&nbsp;Experiencing issues? Please contact our <a asp-page="Support" style="color: black;"><b>support department</b></a>.</p>
            </div>
        </div>
    </div>
</section>
<!-- End Home Banner -->
@section script{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#emailFail').fadeOut('fast');
            $('#passwordFail').fadeOut('fast');
        });
    </script>
}