﻿@page
@model Online.Interface.Pages.ResetModel
@{
    Layout = "_Authentication";
    ViewData["Title"] = "RESET";
    ViewData["Image"] = "/img/bannerArtboard-1.png";
}
<!-- Home Banner -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-15px-tb">
                <h5 class="dark-color font-w-400 m-15px-b">Welcome to <b>JVR Online</b> assessment portal.</h5>
                <div id="carousel" class="carousel slide" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row align-items-center">
                                <div class="col-lg-12 m-15px-tb">
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="dark-color">Reset Password</h3>
                                            <p>We can help! <a hrref="javascript:;" style="color: #1B947B;">Please use the form below to reset your password:</a></p>
                                            <form id="resetForm">
                                                @Html.AntiForgeryToken()
                                                <input style="border: none; border-bottom: 1px solid;" type="hidden" class="form-control" id="tokan" required value="@ViewData["Tokan"]">
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Password</label>
                                                    <div class="input-group">
                                                        <input style="border: none; border-bottom: 1px solid;" type="password" class="form-control" id="passwordReset" required placeholder="******">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" style=" border: none; border-bottom: 1px solid; "><i class="far fa-eye" id="toggleResetPassword"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Confirm Password</label>
                                                    <div class="input-group">
                                                        <input style="border: none; border-bottom: 1px solid;" type="password" class="form-control" id="ConfirmPasswordReset" required placeholder="******">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" style=" border: none; border-bottom: 1px solid; "><i class="far fa-eye" id="toggleConfirmResetPassword"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="p-5px-t">
                                                    <div style="text-align: right;">
                                                        <a asp-page="Login" role="button" class="m-btn m-btn-radius">Log In</a>
                                                        <input type="submit" class="m-btn m-btn-radius m-btn-theme" style="background: #1B947B;" value="Continue" />
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-lg-12 m-15px-tb">
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="dark-color">Successfully Updated</h3>
                                            <p>All set!</p>
                                            <br />
                                            <p>
                                                Your password has been updated and you may now log in to the JVR Online Assessment Portal.
                                            </p>
                                            <form data-parsley-validate="true">
                                                <div class="p-5px-t">
                                                    <div style="text-align: right;">
                                                        <a asp-page="Login" role="button" class="m-btn m-btn-radius m-btn-theme" style="background: #1B947B;">Log In</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p style="padding-top: 2%;">&nbsp;&nbsp;Can't log in? Please contact our <a asp-page="Support" style="color: black;"><b>support department</b></a>.</p>
            </div>
        </div>
    </div>
</section>
<!-- End Home Banner -->