﻿@page
@model Online.Interface.Pages.SupportModel
@{
    Layout = "_Authentication";
    ViewData["Title"] = "SUPPORT";
    ViewData["Image"] = "/img/bannerArtboard-3.png";
}

<!-- Home Banner -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-15px-tb">
                <h4 class="dark-color font-w-400 m-15px-b"><b>Can't log in?</b></h4>
                <h5 class="dark-color font-w-400 m-15px-b">Please fill out the form and someone will be in touch.</h5>
                <h6>Alternatively, call us on <b>+27(0) 11 781 3705/6/7</b> during business hours.</h6>
                <div id="carousel" class="carousel slide" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row align-items-center">
                                <div class="col-lg-12 m-15px-tb">
                                    <div class="card">
                                        <div class="card-body">
                                            <a asp-page="Login" style="color: black;"><span style="color: #1B947B;">&#8592;</span> Go back</a>
                                            <br /><br />
                                            <h3 class="dark-color">I'm having problems...</h3>
                                            <form name="login" id="supportForm" method="post">
                                                @Html.AntiForgeryToken()
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Your name</label>
                                                    <input id="fullName" style="border: none; border-bottom: 1px solid;" type="text" class="form-control" required placeholder="Alex Smith">
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Email address</label>
                                                    <input id="emailAddress" style="border: none; border-bottom: 1px solid;" type="email" class="form-control" required placeholder="name@example.com">
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">I'm having trouble with...</label>
                                                    <select id="trouble" class="form-control" style="border: none; border-bottom: 1px solid;">
                                                        <option value="">Select an option...</option>
                                                        <option value="Provided link">Provided link</option>
                                                        <option value="Accessing the assessment">Accessing the assessment</option>
                                                        <option value="Registering">Registering</option>
                                                        <option value="Resetting my password">Resetting my password</option>
                                                        <option value="Submitting the assessment">Submitting the assessment</option>
                                                        <option value="other">other</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Description</label>
                                                    <textarea id="description" rows="5" class="form-control" style="border: none; border-bottom: 1px solid; resize: none" required placeholder="Please include details about the issue..."></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label small font-w-600 dark-color m-0px">Upload a screenshot</label>
                                                    <input id="imageInput" style="border: none; border-bottom: 1px solid;" type="file" multiple="multiple" accept="image/*" class="form-control">
                                                </div>
                                                <div style="text-align: right;">
                                                    <p style="font-size: 11px;">Optional | We accept JPEG and PNG files only, you may add up to 3 screenshots.</p>
                                                </div>
                                                <div class="p-5px-t">
                                                    <div style="text-align: right;">
                                                        <input type="submit" class="m-btn m-btn-radius m-btn-theme" style="background: #1B947B;" value="Submit" />
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-lg-12 m-15px-tb">
                                    <div class="card" style="border: none;">
                                        <div class="card-body">
                                            <h3 class="dark-color" style="color: #C9CF4E">Thanks!</h3>
                                            <p>Your request is on its way to our support experts.</p>
                                            <br /><br />
                                            <a asp-page="Login" style="color: black;"><span style="color: #1B947B;">&#8592;</span> Go back</a>
                                            <br /><br />
                                            <p>
                                                Feel free to <span style="color: #1B947B;">read our blog</span>,
                                                find <span style="color: #1B947B;">free resources</span> or upskill
                                                with <span style="color: #1B947B;">JVR Academy</span>  while you wait.
                                                <br />
                                                Alternatively, call us on +27(0) 11 781 3705/6/7 during business hours if you require urgent assistance.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Home Banner -->