﻿@page
@model Online.Interface.Pages.VerificationModel
@{
    Layout = "_Authentication";
    ViewData["Title"] = "VERIFICATION";
    ViewData["Image"] = "/img/bannerArtboard-3.png";
}

<!-- Home Banner -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-15px-tb">
                <div class="row align-items-center">
                    <div class="col-lg-12 m-15px-tb">
                        <div class="card" style="border: none;">
                            <div class="card-body">
                                <h3 class="dark-color" style="color: #C9CF4E">Thanks!</h3>
                                <p>Your email address has been verified</p>
                                <br /><br />
                                <p>
                                    Feel free to <span style="color: #1B947B;">read our blog</span>,
                                    find <span style="color: #1B947B;">free resources</span> or upskill
                                    with <span style="color: #1B947B;">JVR Academy</span>  while you wait.
                                    <br />
                                    Alternatively, call us on +27(0) 11 781 3705/6/7 during business hours if you require urgent assistance.
                                </p>
                                <div class="p-5px-t">
                                    <div style="text-align: right;">
                                        <a asp-page="Login" class="m-btn m-btn-radius m-btn-theme" style="background: #1B947B;">Log In</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Home Banner -->