﻿<!doctype html>
<html lang="en">
<head>
    <!-- metas -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="We provide you with proven knowledge and skills to identify, support, and develop the people in your organisation." />
    <meta name="author" content="JVR Africa Group" />
    <!-- title -->
    <title>JVR ONLINE | @ViewData["Title"]</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/svg" href="/img/logo.svg" />
    <!-- plugin CSS -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway" />
    <link href="/static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/plugin/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="/static/plugin/et-line/style.css" rel="stylesheet" />
    <link href="/static/plugin/themify-icons/themify-icons.css" rel="stylesheet" />
    <link href="/static/plugin/magnific/magnific-popup.css" rel="stylesheet" />
    <!-- theme css -->
    <link href="/static/style/master.css" rel="stylesheet" />
    @RenderSection("style", false)
</head>
<body data-spy="scroll" data-target="#navbar-collapse-toggle" data-offset="98" style="background-image: url('@ViewData["Image"]'); background-repeat: no-repeat; background-attachment: fixed; background-position: top right; background-size: 50%;">
    <main>
        <div id="alertBanner">
        </div>
        <a name="home"></a>
        <div class="container" style="position: fixed; padding-left: 12%;">
            <div class="navbar navbar-default navbar-expand-lg main-navbar">
                <div class="navbar-brand">
                    <a href="javascript:;" title="JVR" class="logo">
                        <img src="/img/psychometrics_logo.svg" alt="JVR Psychometrics" />
                    </a>
                </div>
            </div>
        </div>
        @RenderBody()
    </main>
    <!-- Footer-->
    <footer class="theme3rd-bg footer" style="background-color: #E5E5E5; position: fixed; bottom: 0; width: 100%; text-align: center; padding-top: 1%; padding-bottom: 1%;">
        <div class="footer-border-light" style="background-color: #E5E5E5; text-align: center;">
            <div class="container" style="color: #171717;">
                <a href="https://jvrafricagroup.co.za/terms-and-conditions" style="color: #171717;">Terms & Conditions</a> |
                <a href="http://resources.jvrpsychometrics.co.za/wp-content/uploads/2014/05/System_Requirements-JvR_Onlineincludes_Matrigma.pdf" style="color: #171717;">System Requirements</a>&nbsp;&nbsp;
                <img src="/img/logo.svg" alt="JVR" title="" style="max-width: 4%;">
                &nbsp;&nbsp;Copyright © @DateTime.Now.Year JVR Psychometrics (Pty) Ltd.
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- jquery -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/jquery-migrate-3.0.0.min.js"></script>
    <!-- end jquery -->
    <!-- appear -->
    <script src="/static/plugin/appear/jquery.appear.js"></script>
    <!-- end appear -->
    <!--bootstrap-->
    <script src="/static/plugin/bootstrap/js/popper.min.js"></script>
    <script src="/static/plugin/bootstrap/js/bootstrap.js"></script>
    <!--end bootstrap-->
    <!-- working form -->
    <script src="/static/plugin/mail/js/form.min.js"></script>
    <script src="/static/plugin/mail/js/script.js"></script>
    <!-- custom js -->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/plugin/dist/jquery.inputmask.js" charset="utf-8"></script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/Function.js"></script>
    <script src="/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
    <script src="/assets/plugins/highlight.js/highlight.min.js"></script>
    <script src="/assets/js/demo/render.highlight.js"></script>
    <!-- end -->
    @RenderSection("script", false)
</body>
</html>