﻿<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
<div style="font-family: Raleway; font-size: 13px;">
    <div>
        Dear {Name},
    </div>
    <br />
    <div>
        Your request for support on JVR Online was successfully submitted.
    </div>
    <br />
    <div>
        We will be in contact with you shortly to help you with your issue.
        Please note that our office hours are 08.00-17.00, Monday to Friday, so requests made outside of these hours may only be dealt with on the next business day.
    </div>
    <br />
    <div>
        Kind Regards / Vriendelike Groete
    </div>
    <br />
    <div>
        If you have any problems accessing the platform, please contact Client Services:
    </div>
    <div>
        <a href="mailto:clientservices@jvrafrica.co.za" style="cursor: pointer;">clientservices@jvrafrica.co.za</a>
    </div>
    <div>
        +2711 781-3705
    </div>
    <br />
    <div style="font-size:11px; font-weight:bold; font-style:italic;">
        Please do NOT reply to this message as it is sent from an unattended mailbox
    </div>
</div>